body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, rgb(159, 159, 159), rgb(227, 227, 227));
}

button {
   cursor: pointer;
}